body {
    background-color: black;
    color: white;
}
#update-btn {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-size: large;
}
.container-main {
    /* margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%; */
    background: black url("images/pc.webp") no-repeat;
}

.container-part {
    height:20em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-component {
    border: 1px black solid;
    border-radius: 15px;
    margin: 0 1em;
    width: 20em;
    height: 100%;
}

.graph {
    width: 40em;
    border: 1px black solid;
    border-radius: 15px;

}
