{% extends "./base.html" %}

{% block content %}

        <h1>Part Tracker</h1>
        <div class="button-row">
            <button id="update-btn">Update</button>
            <button id="load-btn">Load Test Data</button>
        </div>
        {% for item in catagories %}
        <div class="part-container">

            <div class="part">
                <h3>Catagory: {{ item }}</h3>
                <p>Current Lowest Price: Not set</p>
                <p>Merchant: Not set</p>
                <p>Insert Image Here</p>
            </div>

            <div class="graph">
                Fancy Graph Here
            </div>

        </div>
        {% endfor %}

{% endblock %}