{% extends "./base.html" %}
{% load tracker_extras %}
{% block content %}


<!---------------MESSAGE SECTION FOR NOTIFICATIONS--------------------------->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade-show" role="alert">

    <div class="messages messages-{{ message.tags }}">
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
</div>
{% endfor %}
{% endif %}

<!----------------HEAD SECTION FOR TITLE, BUTTONS AND HIDDEN BUDGET CHART------------------>
<h1>NewEgg Part Tracker</h1>
<div class="button-row mb-2">
    <form class="form-inline" action="{% url 'part_tracker:updatePrices' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#chartCollapse"
            aria-expanded="false" aria-controls="chartCollapse">View Budget Chart</button>
        <button type="submit" id="update-btn" class="btn btn-success">Update Prices</button>
    </form>
    <div class="pie-chart collapse" id="chartCollapse">
        {{ pie.the_div|safe }}
        {{ pie.the_script|safe }}
    </div>
</div>

<!------------------CATAGORY SECTION TO DISPLAY INFORMATION FOR EACH SEPERATE CATAGORY------------------->
{% for item in catagories %}
<div class="part-grid">
    <h3>Catagory: {{ item }}</h3>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse"
        data-bs-target="#addPartCollapse{{item|de_space}}" aria-expanded="false" aria-controls="addPartCollapse">Add
        Part</button>
    <div class="add-part mt-2">

        <div class="collapse" id="addPartCollapse{{item|de_space}}">
            <form class="form-inline" action="{% url 'part_tracker:addPart' %}" method="post">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <div class="input-group">
                        <div class="input-group-append">

                            <button type="submit" class="btn btn-primary me-2">Add Part</button>
                        </div>
                        <input type="text" name="link" class="form-control" id="inputPartLink" placeholder="Parts Link">
                    </div>
                    <input type="hidden" name="catagory" value="{{ item }}">
                </div>
            </form>

        </div>
    </div>
    <div class="part-container"> <!--Parts and graph-->
        <div class="part row"> <!--All Parts-->
            {% for part in parts %}
            {% if part.catagory == item %}
            <div class="col"><!--Each part-->

                <p>Merchant: {{ part.merchant }}</p>
                {% with short_list=part.long_name.split %}
                {% with short_slice=short_list|slice:":8" %}
                {% with short_name=short_slice|join:" " %}
                <p>Name: {{ short_name }}</p>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                <p>Brand: {{ part.brand }}</p>
                {% for price in prices %}
                {% if price.part == part.id %}
                <p>Current Price: ${{ price.price|multiply:"0.01" }}</p>
                {% endif %}
                {% endfor %}
                <a href="{{ part.link }}" target="_blank" rel="noopener noreferrer">
                    <img class="part-img mb-2 float-left" src="{{ part.image }}" alt="PC Case">
                </a>

                <!-- Button trigger modal -->
                <div class="container p-0">
                    <div class="button-row">

                        <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal"
                            data-bs-target="#confModal{{part.id}}">
                            Delete Part
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="confModal{{part.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-dark">
                                Are you sure you would like to delete {{ part.long_name }} ID {{ part.id }}?
                            </div>
                            <div class="modal-footer bg-dark">
                                <form class="form-inline" action="{% url 'part_tracker:delPart' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group mx-sm-3 mb-2">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-danger me-2">Delete</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" value="{{ part.id }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--End EachPart-->
            {% endif %}
            {% endfor %}
        </div><!--End All Parts-->

    </div><!--EndParts and graph-->

    <!-----------------------SECTION FOR THE CATAGORY PRICING GRAPH------------------------->
    <div class="graph">
        {% for line in lines %}

        {% if line == item.name %}

        {{lines|get_value:line|safe}}

        {% endif %}

        {% endfor %}
    </div>

</div>


{% endfor %}

{% endblock %}
